h1 {
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #393939;
}
h2 {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #393939;
}
h3 {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0c1158;
}

p,
ol,
ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

img {
    height: auto;
    width: 400px;
}